h1, h2 {
    color: red;
}

.especial {
    color: greenyellow;
}
#unique {
    color: blueviolet;
}
.parent {
    font-family: Arial, sans-serif;
    font-size: 16px;

}

p {
    font-size: 20px;
    color: purple ;

}

.inportante {
    color: blue !important;
}